@font-face {
  font-family: 'Proxima Nova';
  src: url('assets/Proxima-Nova-Font.otf') format('otf');
  font-weight: 400;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('assets/Proxima-Nova-Font.otf') format('otf');
  font-weight: 600;
}

body {
  margin: 0;
  font-family: 'Proxima Nova', Arial, Tahoma, PingFangSC, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
